moderator_model: "wizardlm2:latest"
ollama_host: "http://localhost:11434"
save_path: "~/Downloads/ConvOllama"
available_models:
  - "llama3.1:latest"
  - "gemma2:latest"
  - "falcon2:latest"
'history_limit': 3,  # Keep the last 3 rounds of messages